body {
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	font-style: normal;
	font-size: 11pt;
	font-family: Arial, helvetica, sans-serif;
	line-height: normal;
}
.smalltext {
	font-size: 9pt;
	line-height: 12pt;
	text-decoration: none;
}
.flashtext {
	text-decoration: blink;
}

#menu {
	position : absolute;
	bottom : -5px;
	padding : 0;
	margin : 0;
}

td {
	font-family: Arial, helvetica, sans-serif;
}

th {
	font-family: Arial, helvetica, sans-serif;
	font-size: 11pt;
}
.bordercell {
	border: 1px solid #666666;
}
.selectcell {
	border: 1px solid #666666;
	background-color: #FF9900;
}
.selectcell:hover {
	border: 1px solid #FF9900;
	background-color: #FFFF99;
}

A {
	color: #5555FF;
	text-decoration: none;
}

biglink {
	color: #999999;
	font-size: 14pt;
	text-decoration: underline;
}
A:hover {
	color: #CB3A18
}

A img {
	border: none;
}


H1 {
	font-size: 18pt;
}

H2 {
	font-size: 14pt;
}
